@font-face { font-family: calendas; src: url('../fonts/Braxton.otf'); } 
@font-face { font-family: variane; src: url('../fonts/variane.ttf'); } 

html{
	height: 100%;
}

h1, h2, h5 {
	font-family: calendas;
}

a{
	color: #26a69a;
}

.brand-logo{
	
}

.parallax-container {
	height: 380px;
	color: white;
}

.parallax-container.sub-page{
	height: 200px;
}

.hero {
	width: 100%;
}

.shadow-text{
	text-shadow: 0px 2px 5px #363636;
}

.footer-blue{
	background-color: #272727 !important;
}

.footer-grey{
	color: #ccc;
}

.footer-copyright{
	background-color: #1F1F1F !important;
	font-size: 12px;
}

.collapsible-body p {
	background-color: #f3f3f3;
}

.cards.row{
	/*background-color: #eee;*/
}

.no-shadow{
	box-shadow: none;
}

/*.row.cards .col{
	padding: 0;
	padding-left: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.cards{
	padding-right: 2rem;
}
*/
.cards{
	padding: 0;
}

.cards img{
	width: 100%;
	object-fit: contain;

}

.row.cards .col{
	padding: 0;
	position: relative;
	font-size: 0;
}
/*
.card .card-image img{
	width: 250px;
	height: 250px;
	border-radius: 50%;
	object-fit: cover;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
} 

.card-image{
	padding-top: 20px;
}
*/

.tile {
	margin: 0;
}
.tile .col{
	padding: 0;
}

.tile-img{
	font-size: 0;
}

.tile-img img{
	width: 100%;
}

.tile-desc {
	text-align: center;
}

.tile .tile-desc{
	padding: 5% 8%;
	color: white;
}

.tile.special{
	background-color: #27ae60;
}

.tile.weddings{
	background-color: #c0392b;
}

.tile.corporate{
	background-color: #2c3e50;
}

footer.page-footer {
    margin-top: 0px;
}


.cards .col h4{
	left: 0;
    position:absolute;
    text-align:center;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
    color:white;
}

footer .btn{
	margin-top: 10px;
}