@font-face { 
	font-family: calendas;
	src: 	url('../fonts/calendas.tff'),
			url('../fonts/calendas.otf');

} 
@font-face { font-family: braxton; src: url('../fonts/Braxton.otf'); }
@font-face { font-family: variane; src: url('../fonts/variane.ttf'); } 

html{
	height: 100%;
}

h1, h2, h3, h5 {
	font-family: calendas;
}

h2 {
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    color: #3e3e3e
}

h3{
	font-size: 26px;
	text-align: center;
}

h4{
	font-family: braxton;
	color: #474747;
	font-size: 28px;
	text-align: center;
}

a{
	color: #26a69a;
}

p {
	color: #585656;
}

.braxton {
	font-family: braxton;
}

.brand-logo{
	margin-top: 10px;
}

.divider {
	height: 2px;
	background-color: #bcbcbc;
	width: 40px;
	margin: 10px auto;
}

.logo-red, .btn, .btn-large{
	background-color: #C84040;
}



.parallax-container {
	height: 540px;
	color: white;
}

.parallax-container.sub-page{
	height: 200px;
}

.hero {
	width: 100%;
}

.hero-text {
	width: auto !important;
	text-align: center;
}

.shadow-text{
	text-shadow: 0px 2px 5px #363636;
}

.footer-blue {
	background-color: #272727 !important;
}

.footer-grey {
	color: #ccc;
}

.footer-copyright { 
	background-color: #1F1F1F !important;
	font-size: 12px;
}

.collapsible-body p {
	background-color: #f3f3f3;
}

.no-shadow {
	box-shadow: none;
}

.flex-col{
	-webkit-flex: 1 0 50%;
	flex: 1 0 50%;
}

.testimonial {
	background-color: #D8D8D8;
}

.testimonial-container {
	padding-top: 40px;
	margin-bottom: 40px;
	display:-webkit-flex;
	display: flex;
}

.testimonial-container p {
	margin: 0px;
	
}

.testimonial-container h2 {
	text-align: left;
}

.testimonial-card {
	background-color: white;
	padding: 30px;
	padding-bottom: 10px;
	position: relative;
}

.testimonial-card:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 20px;
	margin-top: -20px;
}

.testimonial-card h3 {
	color: #c84040;
	font-size: 20px;
	text-align: left;
	display: inline-block;
	margin: 0;
	margin-bottom: 20px;
}

.testimonial-nav{
	text-align: center;
	margin-top: 20px;
}

.testimonial-index{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #DDD9D9;
	display: inline-block;
	margin: 0 5px;

}

.testimonial-index.active{
	background-color: #A1A1A1;
}

.event-card-container {
	padding-top: 90px;
	margin-bottom: 90px;
}

.event-card-link {
	text-align: center;
}

.event-card {
	background-color: white;
	padding: 20px;
}

.event-card-desc {
	margin: 20px 0;
}

.row.text{
	padding-top: 40px;
	padding-bottom: 20px;
}

.card-bg{
	background-image: url("../img/corporate-rec.jpg");
	background-size: cover;
    background-repeat: no-repeat;

}

footer.page-footer {
    margin-top: 0px;
}

.red-accent{
	color: #c84040;
}
footer .btn{
	margin-top: 10px;
}

.no-mar-bot{
	margin-bottom: 0;
}