@font-face { font-family: calendas; src: url('../fonts/calendas.tff'); } 
@font-face { font-family: braxton; src: url('../fonts/Braxton.otf'); }
@font-face { font-family: variane; src: url('../fonts/variane.ttf'); } 

html{
	height: 100%;
}

h1, h2, h3, h5 {
	font-family: calendas;
}

h2 {
	width: 150px;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

h3{
	font-size: 24px;
	text-align: center;
}

a{
	color: #26a69a;
}

.braxton {
	font-family: braxton;
}

.brand-logo{
	margin-top: 10px;
}

.logo-red, .btn, .btn-large{
	background-color: #C84040;
}



.parallax-container {
	height: 380px;
	color: white;
}

.parallax-container.sub-page{
	height: 200px;
}

.hero {
	width: 100%;
}

.shadow-text{
	text-shadow: 0px 2px 5px #363636;
}

.footer-blue{
	background-color: #272727 !important;
}

.footer-grey{
	color: #ccc;
}

.footer-copyright{
	background-color: #1F1F1F !important;
	font-size: 12px;
}

.collapsible-body p {
	background-color: #f3f3f3;
}

.cards.row{
	/*background-color: #eee;*/
}

.card .card-content .card-title{
	line-height: 38px;
}

.no-shadow{
	box-shadow: none;
}

/*.row.cards .col{
	padding: 0;
	padding-left: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.cards{
	padding-right: 2rem;
}
*/
.cards{
	padding: 0;
}

.cards img{
	width: 100%;
	object-fit: contain;

}

.row.cards .col{
	padding: 0;
	position: relative;
	font-size: 0;
}

.row.text{
	padding-top: 20px;
}
/*
.card .card-image img{
	width: 250px;
	height: 250px;
	border-radius: 50%;
	object-fit: cover;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
} 

.card-image{
	padding-top: 20px;
}
*/

/*
.tile-wrapper{
	padding-top: 20px;
	padding-bottom: 20px;
}
.tile.col{
	padding: 0 3%;
	padding-top: 5%;
	text-align: center;
	
}

.tile-container{
	margin-bottom: 0;

}

.tile-text{
	
}

.tile-img.col{
	font-size: 0;
	padding: 0;
}

.tile-img img{
	width: 100%;
}

*/

.tile-wrapper{
	display:-webkit-flex;
	display: flex;
	flex-wrap: wrap;
}

.tile{
	flex: 1 0 50%;
	
}

.tile-desc {
	padding: 0 15%;
}

.tile-desc a{
	display: block;
	width: 100px;
	margin: 0 auto;
}

.tile img {
	width: 100%;	
}

footer.page-footer {
    margin-top: 0px;
}

.red-accent{
	color: red;
}

.special {
    position: relative;
    display: inline-block;
}

.special:before,
.special:after {
    opacity: 1;
    content: 'i';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font: inherit;
}

/* The 0.35 might have to be adjusted for other fonts. */
.special:before {
    color: #C84040;
    clip: rect(auto, auto, 0.35em, auto);
}
.special:after {
    clip: rect(0.35em, auto, auto, auto);
}

.special i {
    font: inherit;
    opacity: 0;
}


.cards .col h4{
	left: 0;
    position:absolute;
    text-align:center;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
    color:white;
}

footer .btn{
	margin-top: 10px;
}